p{
    color: white;
}



.logos{
    width:340px ;
    height: 300px;
    
}



.logos{
    margin: 50px;
    padding: 50px;
display: flex;
justify-content: center;
flex-direction: column;

}
.about{
width: 450px;

}
.droit{
    background: rgb(49, 49, 49);
    color: rgb(236, 236, 236);
    text-align:  center;
    padding: 10px;
    font-size: 15px;
    
}
.titel-about{

   font-size: 35px;
   color: rgb(247, 100, 3);
}
.footer-container
{   
    height:120px;
    width:100%;
    background-color:#f8f8f8;
}
.footer-disposition
{
    display:flex;
    justify-content: space-around;
}
.paragraph{
    text-align: center}

   
    @import url('https://fonts.googleapis.com/css?family=Poiret+One');
    .orange
    {
        color: #ff7a00;
    }
    .footer
    {
        background-color: #444;
        border-bottom: 5px solid #ff7a00;
        height:260px;  
        width:100%; 
        margin-top: 600px   
    }
    .footer-content
    {
        display:flex;
        flex-direction:column;
        height: 100px;
        background-color: #444;
        font-family: 'Poiret One', cursive;
        
    }
    .footer p
    {
        font-size:18px;
        
    }
    .footer h1
    {
        font-size:34px;
        font-weight: 900;
        
    }
    .copyright
    {
        background-color:  #212529;
        width:100%;
        font-size:14px;
        font-weight:600;
        text-align: center;
    }
    .copyright p
    {
        margin-top:40px;
    }
   
.logo-footer-ktabi
{
    width:120px;
    height:30px;
    margin-left:30px;
    
}
.col-lg-7,
 .col-lg-5
{
    margin-top:20px;
}