body
{
box-sizing: border-box;
}
.homeContainer
{
width:100%;
/* display:flex; */
margin-top:50px;
margin-bottom:50px;
/* border:1px solid black; */
/*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);*/
}
.search
{
    width:25%;
    
}

.Books
{
    width:50%
}
.topUsers
{
    width:25%
}
.col-md-4
{
   margin-right:auto;
   margin-left: auto;
}