.homeContainer
{
width:100%;
display:flex;
margin-top:50px;
margin-bottom:50px;
border:1px solid black;
/*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);*/
}
.search
{
    width:30%
}

.Books
{
    width:40%
}
.topUsers
{
    width:30%
}
