 .userCard img
{
width:70px;
height:70px;
float: left;
/* border-right: 1px solid #eee; */
}

.userCard
{   
    margin: 20px auto;
    width: 90%;
    height: 125px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
    overflow: hidden;}
.userCard p
{
  color:black;
  font-size:12px;
  font-weight: bold;
  word-break:break-all;
}
article {
  float: right;
  padding: 14px 14px 0px;
  width: 221px;
  /* border-bottom: 1px solid #eee; */
}


 