 .user-Card img
{
width:55px;
height:55px;
float: left;
margin-top:7px;
/* border-right: 1px solid #eee; */
}

.user-Card
{   
    margin: 6px auto;
    width: 90%;
    height: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
    overflow: hidden
}
.user-Card p
{
  color:black;
  font-weight: bold;
  word-wrap: break-word;
  /* word-break:break-all; */
}
.textStyle
{
  font-size:10px;
}
.user-card article {
  float: right;
  padding: 14px 14px 0px;
  /* width: 221px; */
  /* border-bottom: 1px solid #eee; */
}







 