.footer-container
{   
    height:120px;
    width:100%;
    background-color:#f8f8f8;
}
.footer-disposition
{
    display:flex;
    justify-content: space-around;
}
.paragraph{
    text-align: center}