.loginContainer{

}

.user-img{
    border-radius: 50%;
    width: 35px;
    margin-right: 5px;
   
}

.login {}

.title {}


.Header-Container
{
    width:100%;
    display:flex;
    background: #333;
    border-radius: 1px 1px 0px 50px;
    height: 50px;
  
}
.header
{
    display:flex;
    width:98%;
    align-items: center;
    justify-content: space-between;
    
}
.logo
{
    width:120px;
    height:35px;
    margin-top:10px;
    margin-left:30px;
    margin-bottom: 10px
}

.button-login{
    vertical-align:middle;
    font-size : 14px;
    padding : 2px;
    width: 120px;
    background-color:#333;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px 50px 30px;
    text-align: center;
    
}
.button-signup{
    vertical-align:middle;
    font-size : 14px;
    padding : 2px;
    width: 100px;
    color:rgb(247, 100, 3);
    text-align: center;
    text-decoration: none;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
   
  }
  
  li {
    float: left;
 
   
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size : 14px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {

    text-decoration: none;
  }
  
  .logo-container{
    border-radius: 6px 50px 30px;
    width: 180px ;
    background: rgb(247, 100, 3);
  }